$base-floor-color: #efefef;
$floor-plan-border: #5f5f5f;
$base-room-color: $base-floor-color;
$decorative-room-color: #979797;
$scale: 0.8;
$border-offset: -1.5px * $scale;
$standard-room-width: 73px * $scale;

// To use as reference in FloorPlan
$inactive-background: hsla(0, 0%, 66%, 0.8);
$inactive-text-color: #e1e1e1;

.floor-plan {
  border: 2px solid $floor-plan-border;
  // margin-left: -60px;
  // margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.08);
  margin: auto;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.base {
  background-color: $base-floor-color;
  width: 430px * $scale;
  height: 275px * $scale;
  margin-top: 30px;
}

.decorative {
  position: absolute;
  border: inherit;
  left: $border-offset;
  top: (130px * $scale) - 40px + $border-offset;
  box-sizing: border-box;
}

.column {
  width: 21px * $scale;
  height: 35px * $scale;
  background-color: #6d6d6d;
}

.closet {
  width: 78.5px * $scale;
  height: 35px * $scale;
  background-color: $decorative-room-color;
}

.c1 {
  left: 18px * $scale;
}

.c2 {
  left: 95px * $scale;
}

.decorative-room {
  width: 190px * $scale;
  height: (130px * $scale) - 40px + (35px * $scale) + ($border-offset * 2);
  position: absolute;
  background-color: $decorative-room-color;
  border: inherit;
  right: -2px;
  top: $border-offset;
}

.room {
  background-color: $base-room-color;
  border: inherit;
  box-sizing: border-box;
  position: absolute;
  box-shadow: inherit;
  cursor: pointer;
  font-size: 32px;
  text-align: center;
  user-select: none;
  &:hover {
    box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.33);
  }
}

.big {
  width: 175px * $scale;
  height: 130px * $scale;
  top: -40px;
  left: $border-offset;
  padding: (30px * $scale) 0px 0px;
}

.standard {
  width: $standard-room-width;
  height: 120px * $scale;
  bottom: $border-offset;
  padding: (25px * $scale) 0px 0px;
}

@function getRoomPosition($roomId) {
  @return ($border-offset * $roomId) + ($standard-room-width * ($roomId - 1));
}

.R1 {
  left: getRoomPosition(1);
}

.R2 {
  left: getRoomPosition(2);
}

.R3 {
  left: getRoomPosition(3);
}

.R4 {
  left: getRoomPosition(4);
}

.R5 {
  left: getRoomPosition(5);
}

.R6 {
  left: getRoomPosition(6) - 0.5px;
}

.subtitle {
  font-size: 18px;
}