$base-floor-color: #ebebeb;
$floor-plan-border: #404040;
$base-room-color: #d3d3d3;
$inactive-room-color: #9d9fa2;
$border-offset: -1.5px;

.floor-plan {
  border: 2px solid $floor-plan-border;
  margin-top: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.base {
  background-color: $base-floor-color;
  width: 430px;
  height: 275px;
}

.decorative {
  position: absolute;
  border: inherit;
  left: $border-offset;
  top: calc(130px - 40px - 1.5px);
  box-sizing: border-box;
}

.column {
  width: 21px;
  height: 35px;
  background-color: #6d6d6d;
}

.closet {
  width: 78.5px;
  height: 35px;
  background-color: $inactive-room-color;
}

.decorative-room {
  width: 190px;
  height: calc(130px - 40px + 35px - 3px);
  position: absolute;
  background-color: $inactive-room-color;
  border: inherit;
  right: -2px;
  top: $border-offset;
}

.room {
  background-color: $base-room-color;
  border: inherit;
  box-sizing: border-box;
  position: absolute;
  box-shadow: inherit;
  cursor: pointer;
  font-size: 36px;
  text-align: center;
  user-select: none;
}

.big {
  width: 175px;
  height: 130px;
  top: -40px;
  left: $border-offset;
  line-height: 130px;
}

.standard {
  width: 73px;
  height: 120px;
  bottom: $border-offset;
  line-height: 120px;
}

@function getRoomPosition($roomId) {
  @return (-1.5px * $roomId) + (73px * ($roomId - 1));
}

.R1 {
  left: getRoomPosition(1);
}

.R2 {
  left: getRoomPosition(2);
}

.R3 {
  left: getRoomPosition(3);
}

.R4 {
  left: getRoomPosition(4);
}

.R5 {
  left: getRoomPosition(5);
}

.R6 {
  left: getRoomPosition(6) - 0.5px;
}

.subtitle {
  font-size: 20px;
}